<p id="notice"><%= notice %></p>
<div style="background: #A9A9A9; border: 7px solid #000000;">
<p>
  <i>
    <b style="border-left: 7px solid red; color: #EEEEEE; text-shadow: 3px 3px 9px #FF0000; text-align: left;">Title of the movie:</b>
    <%= @post.name %>
  </i>
</p>
<p>
  <i>
    <b style="border-left: 7px solid red; color: #EEEEEE; text-shadow: 3px 3px 9px #FF0000;">Date of the movie show:</b>
    <%= @post.title %>
  </i>
</p>
<p>
  <i>
    <b style="border-left: 7px solid red; color: #EEEEEE; text-shadow: 3px 3px 9px #FF0000;">Description of the movie:</b>
    <%= @post.content %>
  <i>
</p>
</div>
<div style="text-align: center;">
  <i style="border-left: 7px solid #9ACD32; background: #EEEEEE;"><%= link_to 'Edit', edit_post_path(@post) %></i> |
  <i style="border-left: 7px solid #FFFF00; background: #EEEEEE;"><%= link_to 'Back', posts_path %></i>
</div>
